<section class="announcement-new">
  <div class="width-page">
    <div class="pickup">
      {% render 'icon-house' %}
      <p>{{ section.settings.pickup-text }}</p>
      <a href="{{ section.settings.link }}">{{ section.settings.text-button }}</a>
    </div>
    <div class="announcement-text">
      <p>
        Buy 1 get 1 50% off almost everything!
      </p>
    </div>
    <div class="announcement-suport">
        <p>
            Customer Support
        </p>
    </div>

  </div>
</section>
{% schema %}
  {
    "name": "announcement-bar",
    "class": "announcement-new",
    "settings": [
      {
        "type": "text",
        "id": "pickup-text",
        "default": "In-store pickup",
        "label": "pick up text"
      }, {
        "type": "text",
        "id": "text-button",
        "default": "In-store pickup",
        "label": "a button link"
      }, {
        "type": "url",
        "id": "link",
        "label": "link"
      }
    ],
    "presets": [
      {
        "category": "hero",
        "name": "simple hero"
      }
    ]
  }
{% endschema %}