<section class="banner-homeqage">
  <div class="swiper swiper-banner">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'img' %}
          <div class="swiper-slide">
            <script>
              console.log({{ section.blocks.settings.img_height | json }})
            </script>
            <img
            
            {% if section.blocks.settings.img_height %}
              
            {% endif %}
              width=""
              height=""
              loading="lazy"
              src="{{ block.settings.img-banner.src |img_url: 'medium' }}"
              alt="">
          </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {   
    "name": "Banner Image",
    "class": "banner-homepage",
    "blocks": [
      {
        "type": "img",
        "name": "image silde",
        "settings": [
          {
            "type": "image_picker",
            "id": "img-banner",
            "label": "Img banner"
          }, {
            "type": "select",
            "id": "img_height",
            "label": "Choose your height",
            "options": [
              {
                "value": "adapt",
                "label": "adapt font"
              },
              {
                "value": "small",
                "label": "small font"
              }, 
              {
                "value": "large",
                "label": "large font"
              }, 
              {
                "value": "medium",
                "label": "medium font"
                
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image banner",
        "blocks": [
          {
            "type": "img"
          }
        ]
      }
    ]
  }
{% endschema %}