<section class="banner-homeqage">
  <div class="swiper swiper-banner">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'img' %}
          <div style="width:100%" class="swiper-slide">
            {% if  block.settings.img_height == "adapt" and block.settings.img-banner != blank %}
            {{ block.settings.img-banner | image_url: width: 3840 | image_tag:
              loading: 'lazy',
              height: '100vh',
              width: '100%',
              class: 'img-banner',
              widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            }}
            {% endif %}
          </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {   
    "name": "Banner Image",
    "class": "banner-homepage",
    "blocks": [
      {
        "type": "img",
        "name": "image silde",
        "settings": [
          {
            "type": "image_picker",
            "id": "img-banner",
            "label": "Img banner"
          }, {
            "type": "select",
            "id": "img_height",
            "label": "Choose your height",
            "options": [
              {
                "value": "adapt",
                "label": "adapt font"
              },
              {
                "value": "small",
                "label": "small font"
              }, 
              {
                "value": "large",
                "label": "large font"
              }, 
              {
                "value": "medium",
                "label": "medium font"

              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image banner",
        "blocks": [
          {
            "type": "img"
          }
        ]
      }
    ]
  }
{% endschema %}