<section class="megamenu">
  <div class="width-page">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'top' %}
        <div class="top"></div>
        {% when 'header' %}
        <div class="header"></div>
      {% endcase %}
    {% endfor %}
  </div>
</section>

  // {
  //   "name": "megamenu",
  //   "class": "megamenu-section",
  //   "max_blocks": 2,
  //   "blocks": [
  //     {
  //       "type": "topmenu",
  //       "name": "topmenu",
  //       "blocks": [
  //         {
  //           "type": "pickup",
  //           "name": "pickup",
  //           "settings": [
  //             {
  //               "type": "text",
  //               "id": "pickuptext",
  //               "default": "In-store pickup:",
  //               "label": "pickuptext"
  //             }, {
  //               "type": "text",
  //               "id": "link-text",
  //               "default": "Select store",
  //               "label": "link text"
  //             }, {
  //               "type": "url",
  //               "id": "link-url",
  //               "label": "link url"
  //             }
  //           ]
  //         }
  //       ]
  //     }
  //   ],
  //   "presets": [
  //     {
  //       "category": "megamenu",
  //       "name": "megamenu"
  //     }
  //   ]
  // }
