<section class="megamenu">
  <div class="width-page">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'top' %}
        <div class="top"></div>
        {% when 'header' %}
        <div class="header"></div>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "megamenu",
    "max_blocks": 3,
    "class": "megamenu-section",
    "blocks": [
      {
        "type": "announcement",
        "name": "top",
        "settings": [
          {
            "type": "text",
            "id": "pickup-text",
            "default": "In-store pickup",
            "label": "In-store pickup"
          }, {
            "type": "text",
            "id": "link-text",
            "default": "Select store",
            "label": "link text"
          }, {
            "type": "url",
            "id": "link-url",
            "label": "link url"
          }
        ]
      }
    ],
    "presets": [
      {
        "category":"megamenu",
        "name": "megamenu"
      }
    ]
  }
{% endschema %}