<section class="rbt">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">

            </div>
            <div class="swiper-slide">

            </div>
            <div class="swiper-slide">

            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name":"rbt",
        "class":"rbt",
        "settings": [
            
        ]
    }
{% endschema %}