<section class="container recently-viewed" paginate>
  <div class="swiper swiper-recently-viewed">
    <div class="swiper-wrapper">
      <div class="swiper-slide"></div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Recent Products",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Recently Viewed",
        "label": "Title"
      }, {
        "type": "number",
        "id": "paginate-recently",
        "label": "Paginate recently"
      }
    ],
    "presets": [
      {
        "name": "Recent Products"
      }
    ]
  }
{% endschema %}