<link rel="stylesheet" href="{{ 'recently-viewed.css' | asset_url }}">
<script src="{{ 'recently-viewed.js' | asset_url }}" defer="defer"></script>
<section 
class="recently-viewed container"  
style="padding:{{ section.settings.padding-recently }} 0"
>
    <div class="heading-recently">{{ section.settings.heading-view }}</div>
    <div class="swiper swiper-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">

            </div>
        </div>
    </div>
</section>


{% schema %}
    {
        "name": "recently",
        "class": "recently-viewed",
        "settings": [
            {
                "type": "text",
                "id":"heading-view",
                "default":"add new heading",
                "label":"Heading View"
            },
            {
                "type": "number",
                "id": "padding-recently",
                "label":"Padding view"
            },
            {
                "type": "number",
                "id": "paginate-view",
                "label": "Paginate view"
            }
        ],
        "presets": [
            {
                "name": "Recently Viewed"
            }
        ]
    }
{% endschema %}