<section class="recently-viewed">
    <h3>{{ section.settings.heading-view }}</h3>
    <div class="swiper swiper-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">

            </div>
        </div>
    </div>
</section>


{% schema %}
    {
        "name": "recently",
        "class": "recently-viewed",
        "settings": [
            {
                "type": "text",
                "id":"heading-view",
                "default":"add new heading",
                "label":"Heading View"
            },
            {
                "type": "number",
                "id": "padding-recently",
                "label":"Padding view"
            },
            {
                "type": "number",
                "id": "paginate-view",
                "label": "Paginate view"
            }
        ],
        "presets": [
            {
                "name": "Recently Viewed"
            }
        ]
    }
{% endschema %}