<section class="topmenu">
    <div class="width-page">
        <div class="pickup">
            <p>dfsdfsdfd</p>
        </div>
        <div class="announcement">
            <p>sdfsdfsd</p>
        </div>
        <div class="support">
            sdfdsfsd
        </div>
    </div>
</section>