{% for block in section.blocks %}
    <div class="page-width-new">
        {% case block.type %}
            {% when 'pickup-store' %}
            <div class="pickup-store">
                {% comment %} <img src="" alt=""> {% endcomment %}
            </div>
            {% when 'text   ' %}
            
            {% when 'support' %}    
    {% endcase %}
    </div>
{% endfor %}
{% schema %}
    {
        "name":"announcement",
        "settings":[
            {
                "type": "text",
                "id":"title",
                "default":"àhdfshdfhkdf",
                "lable":"text"
            }
        ],
        "presets": [
            
        ]
    }
{% endschema %}