:root{
    --color-navy: #7DAFCA;
  }
  @font-face {
    font-family: Galano;
    src: url(../font/galano.otf) format("opentype");
  }
  p{
    margin: 0;
  }
.container a,.container p{
  font-size: 14px;
  font-family: Galano;
  color: white;
}
.header{
  font-family: Galano;
}
.container{
  max-width: 1440px;
  height: 100%;
  padding: 0 80px;
  margin: 0 auto;
}
.topmenu{
  height: 42px;
  background-color: var(--color-navy);
  line-height: 42px;
}
.announcement,.support a{
  text-decoration: none;
}

.announcement{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.support,.pickup{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.pickup{
  float: left;
}

.support{
  float: right;
}
.new-header{
  display: flex;
}
@media screen and (max-width:768px) {
  .container a,.container p{
    font-size: 12px;
  }
  .container{
    padding: 0;
  }
  .header{
    padding: 0 14px;
  }
}
@media screen and (max-width:990px) {
  .tat{
    display: none !important;
  } 
}
@media screen and (min-width:990px) {
  .show{
    display: none !important;
  }
}
/* @media screen and (max-width:768px){
  .header{
    padding: 0 20px ;
  }
} */



#menu-drawer{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -42px;
}

.mega-menu__content{
  opacity: 0;
  height: 0;
  transition: all 0.2s ease;
}
.list-menu>li:hover .mega-menu__content{
  height: 366px;
  opacity: 1;
}
.menu-drawer__menu-item{
  position: relative;
}

.child{
  position: absolute;
  height: 100%;
  width: 72px;
  right: 0;
}
.layout{
  width: 50%;
  float: left;
}
.space{
  margin-right: 1rem;
}
.icon-link{
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
.bottom-links{
  display: flex;
  align-items: center;
}
.down{
  position: absolute;
    right: 2.5rem;
}
.list-img-brand{
  display: grid;
  gap : 16px;
  grid-template-columns: repeat(5, auto);

}
.list-img-brand a{
  display: contents;
  width: 100%;
}
.list-img-brand img{
  min-width: 132px;
  max-width: 186.8px;
  width: 100%;
} 
.accordion{
  overflow: hidden;
}
.accordion-header{
  font-weight: bold;
  border-top: 1px solid #ccc;
}
.accordion-description{
  height: 0;
  transition:all 0.2s linear;
}
.center{
  position: relative;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.accordion-description> ul{
  padding:0 20px 20px 20px;
}
.accordion-description a{
  margin-bottom: 10px;
}

.header__menu-item a{
  text-decoration: none;
  color: #121212BF;
}

.menu-drawer__menu{
  background-color: white;
}

/* hover */
.hove>a,.line{
  position:relative ; 
}
.hove> a::after, .line::after{
  content: "";
  position: absolute;
  width: 0;
  background-color: black;
  height: 2px;
  bottom: -26px;
  left: 0;
  transition:all 0.2s ease;
}
.hove:hover.hove> a::after, .hove:hover .line::after{
  width: 100%;
  background-color:#007aff;
}
.hove:hover>a,.hove:hover .line>a {
  color: #007aff;
}
.slider-header{
  height: 46px;
  background-color: var(--color-navy);
}