:root{
    --color-navy: #7DAFCA;
  }
  @font-face {
    font-family: Galano;
    src: url(../font/galano.otf) format("opentype");
  }
  p{
    margin: 0;
  }
.container{
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
.mega-menu__link--level-2{
  font-size: 16px !important;
}
.container a,.container p{
  font-size: 14px;
  font-family: Galano;
  color: white;
}
.header{
  font-family: Galano;
}
.topmenu{
  overflow: hidden;
  width: 100%;
  height: 42px;
  background-color: var(--color-navy);
  line-height: inherit;
}
.announcement,.support a{
  text-decoration: none;
}
@media screen and (min-width:990px) {
  .show{
    display: none !important;
  }
  .swiper-slide{
    width: fit-content;
  }
}
.swiper{
  /* margin: 0 0; */
  overflow: unset;
}
.swiper-slider{
  background-color: var(--color-navy);
}
.swiper-wrapper{
  transition: all 0.2s linear;
}
.swiper-custom-height{
  height: 46px;
}
.pickup,.support{
  display: flex;
  align-items: center;
  gap: 6px;
}
.topmenu-custom-height-desk{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}
@media screen and (max-width:990px) {
  .header{
    height: 56px !important;
  }
  .topmenu{
    height: 30px;
  }
  .topmenu-custom-height-desk{
    height: 30px;
    align-items: center;
  }
  .tat{
    display: none !important;
  } 
  .container a,.container p{
    font-size: 12px;
  }
  .container{
    padding: 0;
  }
  .header{
    padding: 0 14px;
  }
}
.swiper-wrapper a{
  color: white;
}
.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: white
}
.new-header{
  display: flex;
}
#menu-drawer{
  position: fixed;
}

.mega-menu__content{
  opacity: 0;
  height: 366px;
  visibility: hidden;
  overflow-y:auto;
  transition: all 0.3s ease-out;
  transform: translateY(-100%);
 
}

.list-menu>li:hover .mega-menu__content{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.menu-drawer__menu-item{
  position: relative;
}
.child{
  position: absolute;
  height: inherit;
  right: 0;
}
.layout{
  float: left;
  width: 50%;
}
.space{
  margin-right: 1rem;
}
.icon-link{
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
.bottom-links{
  display: flex;
  align-items: center;
}
.down,.up{
  position: absolute;
    right: 2.5rem;
    transition: all 0.2s ease;
}
.list-img-brand{
  display: grid;
  column-gap : 16px;
  grid-template-columns: repeat(5, minmax(auto,186.8px));
}
.list-img-brand a{
  display: contents;
  width: 100%;
}
.list-img-brand img{
  min-width: 132px;
  width: 100%;
  transition: all 0.3s ease;
} 
.list-img-brand img:hover{
  transform: scale(1.05);
}
.accordion{
  overflow: hidden;
}
.accordion-header{
  font-weight: bold;
  border-top: 1px solid #ccc;
}
.accordion-description{
  height: 0;
  transition:all 0.2s linear;
}
.center{
  position: relative;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.accordion-description> ul{
  padding:0 20px 20px 20px;
}
.accordion-description a{
  line-height: 30px;
}
.header__menu-item a{
  text-decoration: none;
  color: #121212BF;
}
.menu-drawer__menu{
  background-color: white;
}
/* hover */
.hove>a,.line{
  position:relative ; 
}
.hove> a::after, .line::after{
  content: "";
  position: absolute;
  width: 0;
  background-color: black;
  height: 2px;
  bottom: -2.74rem;
  left: 0;
  transition:all 0.2s ease;
}
.hove:hover.hove> a::after, .hove:hover .line::after{
  width: 100%;
  background-color:#007aff;
}
.hove:hover>a,.hove:hover .line>a {
  color: #007aff;
}
.slider-header{
  height: 46px;
  background-color: var(--color-navy);
  line-height: 46px;
}
.slider-header a,.slider-header p{
  font-size: 14px;
  font-family: Galano;
  color: white;
}
.slick-slider button{
  display: none !important;
}
.li-sale{
  overflow: hidden;
  min-width: 224px !important;
  height: 278px;
}
.mega-menu__link{
  transition: all 0.2s ease;
}
.mega-menu__link:hover{
  color: #007aff;
}

.new-cols{
  max-width: 232px;
  width: 100%;
}