:root{
    --color-navy: #7DAFCA;
  }
  @font-face {
    font-family: Galano;
    src: url(../font/galano.otf) format("opentype");
  }
  p{
    margin: 0;
  }
.container a,.container p{
  font-size: 14px;
  font-family: Galano;
  color: white;
}
.container{
  max-width: 1440px;
  height: 100%;
  padding: 0 80px;
  margin: 0 auto;

}
.topmenu{
  height: 42px;
  background-color: var(--color-navy);
  line-height: 42px;
}
.announcement,.support a{
  text-decoration: none;
}
.announcement{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.support,.pickup{
  display: flex;
  align-items: center;
  gap: 6px;
}
.pickup{
  float: left;
}
.support{
  float: right;
}

@media screen and (max-width:768px) {
  .pickup,.support{
    display: none;
  }
  .container a,.container p{
    font-size: 12px;
  }
}