.rbt,.banner-homeqage{
    overflow: hidden;
    width: 100%;
}
.wrapper-rbt{
    padding: 12.5px 0;
    transition-timing-function: linear;
}
.custom-slide{
    padding: 0 80px;
}
.custom-slide a{
    text-decoration: none;
}
.custom-slide{
    position: relative;
}
.custom-slide::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: white;
    right: 0;
}
.custom-slide:last-child::after{
    display: none;
}
@media screen and (max-width:990px) {
    .custom-slide{
        padding: 0;
        width: 50%;
    }
    .custom-slide::after{
        display: none;
    }
    .wrapper-rbt{
        padding: 7.5px 0;
    }
}

@media screen and (min-width:990px){
    .wrapper-rbt{
        justify-content: center;
    }
}
.img-banner{
    object-fit: cover;
    vertical-align: middle;
    max-width: 100%;
    /* width: 100%; */
    object-position: center;
    height: 800px;
    height: 100%;

}
.swiper-button-next::after,
.swiper-button-prev::after{
    display: none;
}
@media screen and (max-width:750px){
    .img-banner{
        height: 70vh;
    }
}