.rbt{
    overflow: hidden;
    width: 100%;
    height: 50px;
}
.custom-height-rbt{
    height: inherit;
    line-height: 50px;
}
.content-rbt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide{
    display: flex;
    align-items: center;
}