.swiper-recently-viewed{
    overflow: hidden;
}
.heading-recently{
    line-height: 36px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.viewed-item{
    display: block;
    color: white;
}
.viewed-item span{
    text-transform: uppercase;
}
.viewed-item b,.viewed-item p, .product-price{
    color: black;
}
.viewed-img{
    width: 100%;
    position: relative;
}
.viewed-img img{
    width: 100%;
    height: 100%;
}
.tag-product{
    margin: 10px 0 8px 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF8057;
    padding: 2px 8px 0 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 3px;
}
.style-swiper-next,.style-swiper-prev{
    top: 0;
    margin: 0;
    position: unset;
}
.swiper-pagination{
    position: unset;
}
.button-arrow{
    display: flex;
    justify-content: space-between;
}