.swiper-recently-viewed {
    overflow: hidden;
}

.heading-recently {
    line-height: 36px;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.viewed-item {
    display: block;
    color: white;
    overflow: hidden;
}

.viewed-item span {
    text-transform: uppercase;
   
}

.viewed-item a,
.viewed-item p {
    color: black;
}

.product-price-compare {
    font-size: 14px;
    font-weight: 600;
    color: #9D9EA0;
    text-decoration: line-through;
}

.product-price {
    font-size: 14px;
    font-weight: 600;
    color: red;
}

.viewed-item a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.viewed-img {
    display: block;
    width: 100%;
    position: relative;
}

.viewed-img img {
    width: 100%;
    transition: all 0.3s ease;
}

.tag-product {
    margin: 10px 0 8px 10px;
    position: absolute;
    color: white;
    left: 0;
    background-color: #FF8057;
    padding: 2px 8px 0 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 3px;
} 

.tag-price {
    position: absolute;
    background-color: #E3413B;
    margin: 40px 0 8px 10px;
    color: white;
    left: 0;
    padding: 2px 8px 0 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 3px;
}

.swiper-button {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.style-swiper-next,.style-swiper-prev {
    margin: 0;
    position: unset;
}

.swiper-pagination {
    position: unset;
}

.tag-sale {
    margin-top: -5px;
    display: block;
    color: black;
    background-color: #F7CC46;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 0;
    line-height: 20px;
}

.tag-sale-off {
    margin-top: -5px;
    display: block;
    color: white;
    background-color: #00D6CF;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 0;
    line-height: 20px;
}

.tag-search {
    display: none;
}

.viewed-info {
    margin-top: 12px;
}

.viewed-info p {
    text-transform: capitalize;
    line-height: 24px;
    font-size: 18px;
    padding-bottom: 8px;
}

.product-price,
.product-price-compare {
    font-size: 16px;
    line-height: 24px;
}

.product-viewed {
    grid-template-columns: repeat(4, auto);
    gap: 16px;
}

@media screen and ( max-width:990px ) {
    .viewed-item a {
        font-size: 16px;
    }

    .recently-viewed {
        padding:30px 0 !important;
    }

    .swiper-button {
        margin-bottom: 12px;
    }

    .tag-sale,
    .tag-sale-off {
        margin-top: -7px;
    }

    .style-swiper-next,.style-swiper-prev{
        height: 13.5px;
    }

    .style-swiper-next {
        margin-right: 12px;
    }

    .style-swiper-prev {
        margin-left: 12px;
    }

    .heading-recently {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
    }

    .tag-product {
        font-size: 12px;
    }

    .viewed-item p {
        font-size: 14px;
    }

    .product-viewed {
        gap: 0px;
    }

    .viewed-info {
        margin-top: 0;
        padding: 15px;
    }

    .viewed-info p{
        padding-bottom: 0;
    }
}

@media screen and ( max-width:750px ) {
    .tag-sale,
    .tag-sale-off {
        font-size: 12px;
    }

    .viewed-info p {
        line-height: 20px;
    }
    
    .product-price-compare {
        font-size: 14px;
    }
}



/* class js */

.active{
    
}