.swiper-recently-viewed{
    overflow: hidden;
}
.heading-recently{
    line-height: 36px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.viewed-item{
    display: block;
    color: white;
    overflow: hidden;
}
.viewed-item span{
    text-transform: uppercase;
   
}
.viewed-item a,.viewed-item p{
    color: black;
}
.product-price-compare{
    font-size: 14px;
    font-weight: 600;
    color: #9D9EA0;
    text-decoration: line-through;
}
.product-price{
    font-size: 14px;
    font-weight: 600;
    color: red;
}
.viewed-item a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.viewed-img{
    width: 100%;
    position: relative;
}
.viewed-img img{
    width: 100%;
    transition: all 0.3s ease;
}
.viewed-img img:hover{
    transform: scale(1.05);
}
.tag-product{
    margin: 10px 0 8px 10px;
    position: absolute;
    color: white;
    left: 0;
    background-color: #FF8057;
    padding: 2px 8px 0 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 3px;
}
.tag-price{
    position: absolute;
    background-color: #E3413B;
    margin: 40px 0 8px 10px;
    color: white;
    left: 0;
    padding: 2px 8px 0 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 3px;
}

.style-swiper-next,.style-swiper-prev{
    top: 0;
    margin: 0;
    position: unset;
}
.swiper-pagination{
    position: unset;
}
.button-arrow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    align-items: center;
}
.product-viewed{
    grid-template-columns: repeat(4, auto);
    gap: 16px;
}
.tag-sale{
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
    color: black;
    background-color: #F7CC46;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 8px;
}
.tag-sale-off{
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
    color: white;
    background-color: #00D6CF;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 8px;
}
.tag-search{
    display: none;
}
.viewed-info{
    margin-top: 25px;
}
@media screen and (max-width:990px) {
    .recently-viewed{
        padding:30px 0 !important;
    }
    .heading-recently{
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
    }
    .tag-product{
        font-size: 12px;
    }
    .viewed-item p{
        font-size: 14px;
    }
}
@media screen and (max-width:750px) {
    .product-viewed{
        grid-template-columns: repeat(2, auto);
        gap: 8px;
    }
    .button-arrow{
        margin-bottom: 16px;
    }
    .style-swiper-next,.style-swiper-prev{
        height: 13.5px;
    }
    .viewed-info{
        padding: 15px;
    }
    .tag-sale{
        font-size: 12px;
    }
    .tag-search{
        position: absolute;
        display: block !important;
        background-color: white;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        right: 8px;
        bottom: 36px;
    }
}
